body {
    background: #fff;
    font-family: 'Quicksand', sans-serif;
}

/*! #### Menu de navegación ####*/

nav {
    margin: 1px 6rem;
    padding: 0;
}

.nav-bar {
    position: fixed;
    top: 5px;
    width: 90%;
}

.container {
    background: transparent;
    display: flex;
    flex-direction: row;
}

.logo {
    border: transparent 1px solid;
    flex-grow: 2;
    text-align: center;
}

.menu {
    border: transparent 1px solid;
    flex-grow: 10;
    align-self: center;
}

ul {
    text-align: end;
}

ul>li>a {
    border: #9f5ff3 2.5px solid;
    border-radius: 20px;
    padding: 12px;
    color: #9f5ff3;
    font-family: 'Quicksand', sans-serif;
    font-weight: 580;
    text-decoration: none;
}

.item {
    display: inline;
    align-self: flex-end;
    margin: 1.5rem;
}

.item>a:hover {
    background-color: #6369ff;
    color: white;
    border: white 2px solid;
}

.logo-in>img {
    width: 100px;
    height: 70px;
}

/*! #### Menu de navegación (FIN)####*/

/*$ #### slider ####*/

.slider {
    width: 100%;
    height: 98vh;
    background-image: url(../img/slider-font.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-content {
    height: 60%;
    margin: 0 20%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    /*     border: 2px orange solid; */
}

.title {
    font-size: 2.5rem;
    color: rgb(3, 3, 3);
    margin: 0px;
}

.sub-title {
    font-size: 2rem;
}

/*$ #### slider(FIN) ####*/

/** #### info ####  */

.info {
    background: #a573fd;
    height: auto;
    display: flex;
    text-align: justify;
    padding: 5rem;
}

.title-info {
    color: cornsilk;
    font-size: 2rem;
}

.txt-info {
    color: cornsilk;
    font-size: 1.5rem;
}

/** #### info (FIN)####  */

/*# skills  */

.skill-content {
    background: transparent;
    margin: auto;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-son {
    width: 390px;
    text-align: center;
    margin: 0px;
    padding: 5px;
    border: white 2px solid;
    background: #f8f8f8;
    color: #a573fd;
    border-radius: 16px;
    align-items: center;
}

.icon-skill {
    color: #6a38e8;
    font-size: 3rem;
}

.skill-content>.skill-son>ol {
    padding-left: 0;
}

.skill-content>.skill-son>ol>li {
    list-style: none;
    margin: 4px;
}

/*# skills  */

/*& footer  */

.main-footer {
    width: 100%;
    height: 110%;
    color: cornsilk;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    margin: 3vh 0;
}

.footer-text {
    margin: 3vh 20vw;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 800;
}

.footer-contact {
    margin-bottom: 5vh;
}

.icon-footer {
    font-size: 2rem;
    padding: 5px;
    border: #9e6ff7 solid 2px;
    border-radius: 50%;
    color: whitesmoke;
}

.icon-footer:hover {
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
}

/*& footer (END) */

/** Responsive Designn */

@media screen and (max-width: 1000px) {
    nav {
        display: none;
        background: orange;
    }
    .slider {
        width: auto;
        height: 80vh;
        background-image: url(../img/slider-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .title {
        /*color: #fbd601;*/
        color: #fff;
    }
    .sub-title {
        visibility: hidden;
    }
    .info {
        padding: 1px;
        background: #9e6ff7;
        display: block;
    }
    .skill-content {
        /*         margin-top: 95px;
 */
        margin-left: 0;
        width: auto;
    }
    .skill-son {
        width: auto;
    }
}